{% extends 'base.html' %}
{% load blog_extras cache %}

{% block content %}
    <h2>{{post.title}}</h2>

    {%row 'border-bottom'%}
        {% col %}
            {% include "blog/post-byline.html" %}
        </div>
        {% endcol %}
    {%endrow%}
    
    {%row "border-bottom"%}
        {%col%}
            {{ post.content|safe }}
        </div>
        {% endcol %}
    {%endrow%}


    <!-- for comments  -->
    {% include 'blog/post-comments.html' %}
    {% row "border-bottom" %}
        {% col %}
            {%cache 3600 recent_posts post %}
                 {%recent_posts post%}
            {% endcache %}
        {%endcol%}
    {%endrow%}

{% endblock content %}
    